footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0;
}

.footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer__links a {
    color: #fff;
    text-decoration: none;
}

.footer__links a:hover {
    text-decoration: underline;
}
